@import "tailwindcss";
body {
    overflow-x: hidden;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    background-color: #d1d6db;
    color: #b03a2e;
}

.scroll-container .scrolling-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 20s linear infinite;
    animation-play-state: running;
}

.scroll-container:hover .scrolling-text {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
